* {
    font-family: 'Abel', sans-serif;
}

.container {
    background-image: url("../assets/carton.jpg");
    display: flex;
}

.carrito {
    width: 25%;
}

.listado_productos {
    width: 75%;
}


h1 {
    text-align: center;
}

img.fot {
    height: 200px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
}

img.fot:hover {
    transition: 1s;
    scale: 1.2;
}

ul.products {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
}

li.pic {
    padding-left: 200px;
}