body {
    background-image: url("../assets/carton.jpg");
}

h1 {
    text-align: center;
}

img.fot{
    width: 200px;
}
img.fot:hover {
    transition: 1s;
    scale: 2;
}

ul.products{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
}

li.pic{
    padding-left: 200px;
}